.top-header {
    font-family: 'PT Sans Narrow', cursive;
    margin-top: 10px;
}

#name{
    font-family: 'Viga', 'cursive';
}

#city{
    font-family: 'Viga', 'cursive';
}

#state{
    font-family: 'Viga', 'cursive';
}

.button {
    font-family: 'PT Sans Narrow', cursive;
}

#name-input {
    width: 40%;
    margin: 0 auto;
}

#city-input {
    width: 40%;
    margin: 0 auto;
}

#state-choice {
    width: 40%;
    margin: 0 auto;
    display: block;
}

.middle-main {
    margin-top: 20px;
}
body{
    color: whitesmoke;
    background-repeat: repeat-y;
}
img{
    width: 100%;
    height: auto;
    border: 5px solid white;
    border-radius: 1rem;
}

.card{
    padding: 2%;
    background-color: transparent;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 1rem;
}
.card-footer{
    background: #d1d0d08a;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 0.50rem !important;
}

.text-muted {
    color: #000000!important;
}