.top-header {
    font-family: 'PT Sans Narrow', cursive;
    margin-top: 10px;
}

#name, #city, #state, #keyword{
    font-family: 'Viga', 'cursive';
}

#name-input, #city-input, #keyword-input {
    width: 40%;
    margin: 0 auto;
}

.button {
    font-family: 'PT Sans Narrow', cursive;
}


.middle-main {
    margin-top: 20px;
}
body{
    background: url(../images/beach-view.jpeg);
    color: whitesmoke;
}

img{
    margin: auto;
    width: 100%;
    height: auto;
    border: 5px solid white;
    border-radius: 1rem;
}

.card{
    
    background-color: #000e1a;
    background-image: url("https://www.transparenttextures.com/patterns/triangular.png");
    margin: 2%;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 1rem;
    padding: 2%;
}

.text-muted {
    color: #000000!important;
}

.row-news {
    background-color: lightblue;
    width: 100%;
    height: 310px;
    overflow: auto;
    background: transparent;
  }

 